*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana;
}
.nav-bar-1{
    height: 60px;
    width: 100%;
    background-color: rgb(13, 164, 164);
}
.search-icon{
    margin-left: 400px;
    margin-top: 60px;
}

.content-body 
{
    margin-top: 130px;
    margin-left: 50px;
}
.content-body h4{
    line-height: 40px;
}
.content-body h4 span{
    font-weight: 900;
}
.content-body p{
    font-size: 14px;
    line-height: 20px;
}
.content-body button{
    height: 30px;
    width: 120px;
    background-color: rgb(13, 164, 164) ;
    color: #ffff;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
}
.back-img{
    height: 500px;
    width: 800px;
    margin-top: -350px;
    margin-left: 520px;
}
.services-head{
    margin-top: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
}
.services-head span{
    color: rgb(13, 164, 164) ;
}
.head1{
    font-weight: 800;
    margin-left: 70px;
    color:  rgb(13, 164, 164);
}
.para1{
    font-size: 14px;
}
.btn-card{
    height: 30px;
    width: 120px;
    color: #ffff;
    background-color: rgb(13, 164, 164) ;
    font-size: 14px;
    border: none;
    border-radius: 10px;
    margin-left: 50px;
}
.appointmet-head{
    margin-top: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
}
.appointmet-head span{
    color: rgb(13, 164, 164) ;
}
.appointmet-image{
    margin-top: 30px;
    margin-right: 40px;
}
.appointmet-para{
    margin-top: 90px;
}
.appointmet-para span{
    color:  rgb(13, 164, 164);
}
.appointmet-button{
    height: 30px;
    width: 150px;
    color: #ffff;
    background-color: rgb(13, 164, 164) ;
    font-size: 14px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
 
}
.expert-head{
    margin-top: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
}
.expert-head span{
    color: rgb(13, 164, 164) ;
}
.icons-1{
    background-color: rgb(13, 164, 164)  ;
   
}
.dr-head1{
    color: rgb(13, 164, 164) ;
    font-size: 15px;
    font-weight: 800;
    margin-left: 40px;
}
.review-head{
    margin-top: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
}
.review-head span{
    color: rgb(13, 164, 164) ; 
}
.client-img1{
    border: 8px solid  rgb(13, 164, 164) ;
    border-radius: 200px; 
    margin-top: -50px;
    margin-left: 80px;
}
.review1{
    height: 200px;
    width: 300px;
    background-color: rgb(53, 193, 193)  ;
    border: 8px solid #ffff;
}
.review1-head{
  color: #ffff;
  font-weight: 800;
  margin-left: 90px;
  margin-top: 10px;
}
.star-img{
    margin-left: 90px;
    margin-top: -20px;
}
.review-para{
    color: #ffff;
    max-width: 90%;
    font-size: 12px;
    margin-top: -20px;
    margin-left: 10px;
}
.reviews{
    margin-top: 60px;
}
.footbar{
    height: 400px;
    width: 100%;
    background-color: rgb(13, 164, 164) ;
    margin-top: 60px;
}
.list{
    padding-top: 60px;
   
}
ul li{
    color: #ffff;
    font-size: 15px;
    list-style: none;
    margin-top: 10px;
    
}